body {
    min-width: 400px;
}
h1 {
    text-align: center;
}
.fa-pizza-slice {
    color: red;
}

.jumbotron {
    background: url("../assets/images/pizza.jpg");
    background-size: 100%;
}

.jumbotron > .display-3, .jumbotron > .lead {
    background-color: rgba(255,0,0,0.7);
    border-radius: .3rem;
    color: white
}
.custom-control-inline {
    width: 92px;
}
.btn-success {
    background-color: rgba(255,0,0,0.7);
/*    border-color: rgba(0,0,0,1);*/
    border: none;
}

footer {
    text-align: center;
}
.hidden {
    display: none;
}
/* First You change the display properties, then you make it visible. This ensures section 508 compliance, while also enabling css transitions! */
.seeThrough {
    opacity: 0;
    height: 0px;
}
.runningTotalContainer {
    background: red;
    text-align: center;
    border-radius: 15px;
}
#cheeseOptionsContainer, #sauceOptionsContainer, #sizeOptionsContainer {
    transition: height 2s;
}
#errorContainer {
    border: 1px solid red;
    margin-bottom: 10px;
}
#errorContainer h1 {
    text-align: center;
}
.errorInput {
    border: 1px solid red;
}